
<head>
    <link rel="icon" href="/img/icon1.png" type="image">
  </head>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <h3 class="text-white">Gerador</h3>

    <ul class="navbar-nav mr-auto">
        
    </ul>

</nav>